.about {
  padding: 7rem 0;
  color: #494949;
  font-family: $anton;
  font-size: 62px;
  font-weight: 400;
  
  &__inner {
    padding: 0 1rem;
    margin: 0 auto;
    width: 120rem;
    display: flex;

  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__desc {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
  }

  &__img {
    width: 497px;
    height: 321px;
  }
}