.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 8rem 0;
  background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9)), url(../../img/footer-bg.jpg) no-repeat center / cover;

  &::after {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    width: 288px;
    height: 160px;
    background: url(../../img/Rectangle_7.png) no-repeat bottom right;
    
    @include media(small) {
      background: none;
    }
  }

  &__desc {
    text-align: center;
    padding: 3rem 1rem 0;
    color: #ffffff;
    font-family: $sans;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.4rem;
    /* Text style for "Copyright" */
    letter-spacing: 0.42px;
    z-index: 2;
  }
}

.foo-contact {
  padding: 0 1rem;
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__box {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 6rem 20rem;
    grid-gap: 1rem;
    align-items: center;
  }

  &__icon {
    grid-row: 1 / span 2;
    justify-self: center;
  }

  &__title {
    color: #ffffff;
    font-family: $sans;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.4rem;
    /* Text style for "E, mail" */
    letter-spacing: 0.55px;
    align-self: end;
  }

  &__desc {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.4rem;
    /* Text style for "f, ree@psd" */
    letter-spacing: 0.42px;
  }
}

.foo-icons {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem 1rem 2rem;
  max-width: 80rem;
  

  & > a {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1.8px;
    transition: .1s;
    z-index: 2;

    &:hover {
      color: shade(#fff, 20%);
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 98%;
    height: 2px;
    bottom: 0;
    background: rgba(255, 255, 255,.4);
    z-index: 2;
  }

  & > * {
    padding: 2rem 3rem;
  }
}



