.header {
  position: fixed;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .5s;

  &__logo {
    color: #ffffff;
    font-family: $lato;
    font-weight: 700;
    font-size: 4.3rem;
    letter-spacing: -0.47px;
  }

  &__icons {
    display: flex;
    padding-left: 6rem;
    color: #ffffff;
    font-size: 2.2rem;
    letter-spacing: 1.8px;
    align-items: center;
    
    @include media(small) {
      padding-left: 3rem;
    }
    & > * {
      color: #fff;
      padding: 1rem;
    }
  } 
}

