.works {
  position: relative;
  padding: 9rem 1rem;
  overflow: hidden;
  
  &::after {
    content: '';
    position: absolute;
    width: 436px;
    height: 873px;
    right: 0px;
    top: 50%;
    transform: translate(0%, -50%);
    background: url(../../img/Rectangle_1.png) no-repeat;

    @include media(large) {
      display: none;
    }
  }

  &__inner {
    margin: 0 auto;
    max-width: 120rem;
  }

  &__info {

  }

  &__desc {
    padding: 3rem 0 6rem;
    width: 35rem;
    color: #6a6a6a;
    font-family: $sans;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 30px;
  }
}

.work {

  &__img {
    position: relative;
    margin-left: -5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 454px;
    height: 297px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
    z-index: 4;
    cursor: pointer;
    overflow: hidden;
    filter: grayscale(50%);

    &:after {
      position: absolute;
      content: '';
      width: 454px;
      height: 297px;
      top: 0; left: 0;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      background-color: rgba(66, 66, 64, 0.6); 
      z-index: 1;
    }
    &--1 {
      background: url(../../img/work1.jpg) no-repeat center / cover;
    }
    
    &--2 {
      background: url(../../img/work2.jpg) no-repeat center / cover;
    }
    
    &--3 {
      background: url(../../img/work3.jpg) no-repeat center / cover;
    }
    

    &:hover .work__info {
      transform: translateY(0);
    }
  }

  &__number {
    padding-right: 5rem;
    align-self: flex-end;
    color: #ffffff;
    font-family: $lato;
    font-size: 5.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    z-index: 2;
  }

  &__info {
    padding-left: 7rem;
    padding-bottom: 1.5rem; 
    display: flex;
    flex-direction: column;
    transform: translateY(100px);
    transition: .3s;
    z-index: 2;
  }

  &__title {
    color: #ffffff;
    font-family: $lato;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;

  }

  &__desc {
    max-width: 210px;
    color: #ffffff;
    font-family: $sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
  }
}

.works__wrapper {
  display: flex;

}

.work__wrapper {
  display: flex;  

    & > *:not(:first-child) {
      margin-left: -8rem;
    }
}